$primaryDark: #282c34;
$primaryYellow: #f3ce13;
$primaryWhite: #fff;

.App {
  text-align: center;
  background-color: $primaryDark;
  min-height: 100vh;
}

.App-header {
  padding-top: 10vh;
}

.App-button {
  background-color: $primaryDark;
}

// Search bar component
.Search {
  width: 50%;
  display: flex;
  margin: 5vh auto;

  .Search-input {
    width: 100%;
    border: 3px solid $primaryYellow;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000;
  }

  .Search-input:focus {
    color: #000;
  }

  .Search-button {
    width: 40px;
    height: 36px;
    border: 1px solid $primaryYellow;
    background: $primaryYellow;
    text-align: center;
    color: #000;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
}

.Movies {
  color: $primaryWhite;
  text-align: left;
  padding: 2rem;

  .Movies-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
  }

  .Movies-category {
    margin-bottom: 0rem;
  }

  // Indvidual Movies Tiles
  .Movie-tile {
    width: 200px;
    margin-top: 2rem;

    .Movie-image {
      border-radius: 10%;
      width: 80%;
      height: 75%;

      &:hover {
        -webkit-box-shadow: 0 0 20px $primaryYellow;
        box-shadow: 0 0 20px $primaryYellow;
        cursor: pointer;
      }
    }

    .Movie-title {
      width: 80%;
      font-weight: 600;
      margin: 0.25rem auto;
      text-align: left;
    }

    .Movie-date {
      width: 80%;
      color: #d3d3d3;
      margin: 0.25rem auto;
      text-align: left;
      font-size: 0.85rem;
    }
  }
}

// Movie Page
.Movie-background-img {
  min-height: 245px;
  background-size: cover;
  background-position: top;

  @media screen and (min-width: 1224px) {
    min-height: 400px;
  }

  @media screen and (min-width: 1440px) {
    min-height: 550px;
  }
}

.Movie-info {
  color: #fff;
  max-width: 80%;
  margin: auto;
  min-height: 250px;

  @media screen and (min-width: 1224px) {
    max-width: 70%;
  }

  @media screen and (min-width: 1440px) {
    max-width: 60%;
  }
}

// Movie Page

.Movie-back-button {
  color: #fff;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 2.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f3ce13;

  &:hover {
    color: $primaryYellow;
    cursor: pointer;
  }
}

.Movie-page-img-wrapper {
  position: relative;
  width: 150px;

  .Movie-page-img {
    position: absolute;
    width: 150px;
    height: 250px;
    top: -50px;
    border-radius: 10%;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
    background-size: cover;
  }
}

.Movie-page-info-wrapper {
  flex: 2 1;
  text-align: left;
  padding-left: 5%;

  @media screen and (min-width: 1224px) {
    padding-left: 15%;
  }
}

.Movie-page-movie-info {
  font-size: 0.85rem;
  color: #d3d3d3;
  line-height: 2;
}

.Movie-page-overview {
  color: #fff;
  text-align: left;
  max-width: 80%;
  margin: 50px auto auto auto;
  padding-bottom: 50px;

  @media screen and (min-width: 1224px) {
    max-width: 70%;
  }

  @media screen and (min-width: 1440px) {
    max-width: 60%;
  }
}
